# build outputs
/dist
/docs
/coverage
**/out-tsc
**/dist

# nx cache
/.nx/cache
/.nx/workspace-data

# expo / rn generated
**/.expo
**/android
**/ios
**/web-build
**/node_modules

# lock files
package-lock.json
